version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: opsdesk-postgres
    environment:
      POSTGRES_DB: opsdesk
      POSTGRES_USER: opsdesk
      POSTGRES_PASSWORD: opsdesk
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  redis:
    image: redis:7
    container_name: opsdesk-redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: opsdesk-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  postgres_data: